@model MyFirstProject.WebApi.Models.TodoItem

@{
    ViewData["Title"] = "Todo Item Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Todo Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "TodoItems")">Back to List</a>
</p>

/* adicione um botão para criar um novo todoitem */
<p>
    <a href="@Url.Action("Create", "TodoItems")">Create New</a>
</p>

/* adicione um botão para editar o todoitem */
<p>
    <a href="@Url.Action("Edit", "TodoItems", new { id = Model.Id })">Edit</a>
</p>

/* adicione um botão para deletar o todoitem */
<p>
    <a href="@Url.Action("Delete", "TodoItems", new { id = Model.Id })">Delete</a>
</p>